OPENSKY_USERNAME="YOUR_OPENSKY_USERNAME"
OPENSKY_PASSWORD="YOUR_OPENSKY_PASSWORD"
OPENSKY_API_URL="https://opensky-network.org/api"
OPENSKY_API_BOUNDING_BOX="lamin, lomin, lamax, lomax"
OPENSKY_API_REQUEST_TIMEOUT_SECONDS="YOUR_REQUEST_TIMEOUT_SECONDS_SETTING"
OPENSKY_API_MAX_RETRIES="YOUR_MAX_RETRIES_SETTING"